
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
</head>

<body>


    <div class="container">
        <h1 style="text-align: center;">Breast Cancrous Predicion Model</h1>
        <img style="width: 75%;height: 200px;" src="{{url_for('static',filename='img.png')}}" alt="">


        <form action="/predict" method="POST">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Input all medical Detail</label>
                <input type="text" name="feature" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        {% for i in message %}
        {% if i=="Cancrous" %}
        <div class="card" style="width: 18rem;">
            <img src="{{url_for('static',filename='alert_imge.png')}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Cancrous</h5>
                <p class="card-text">Please Contact your doctor.</p>

            </div>
        </div>

        {% else %}
        <div class="card" style="width: 18rem;">
            <img src="{{url_for('static',filename='ok_img.png')}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Not Cancrous</h5>
                <p class="card-text">You are safe, don't worry.</p>

            </div>
        </div>


        {% endif %}
        {% endfor %}


    </div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
</body>

</html>

